
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2 style="text-align:center">CỬA HÀNG BÁN ĐIỆN THOẠI TRỰC TUYẾN</h2>
    <div>
        <table width="100%" height="150px">
            <tr style="font:bold 24px arial; border-bottom:3px solid black; color:red;height="100px">
                <th>Tên thành viên</th>
                <th>MSSV</th>
                <th>Số điện thoại</th>
                <th>Email</th>
            </tr>
            <tr style="text-align:center">
                <td>Diệp Thiên Lân</td>
                <td>3111410037</td>
                <td>01264590043</td>
                <td>lan.thiendiep@gmail.com</td>
            </tr>
            <tr style="text-align:center">
                <td>Huỳnh Hoàng Minh</td>
                <td>3111410050</td>
                <td>01698334690</td>
                <td>hoangminh19931993@gmail.com</td>
            </tr>
            <tr style="text-align:center">
                <td>Ngô Thiên Lân</td>
                <td>3111410039</td>
                <td></td>
                <td></td>
            </tr>
            <tr style="text-align:center">
                <td>Trần Hoàng Cúc</td>
                <td>3111410005</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
