
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .accordion-inner {
        margin-bottom: 50px;
        padding-left: 100px;
        padding-right: 100px;
        width: 800px;
        height: 500px;
        margin-left: 100px;
    }

    #gioithieu {
        font-size: larger;
    }
</style>
<div id="gioithieu">
    <h1 style="color:#000000; font-size:25px;text-align:center">Chào mừng các bạn đến với <strong style="color:#ff0000;font-size:27px"> Cửa hàng điện thoại trực tuyến</strong></h1>

    Trước tiên, chúng tôi xin gửi tới Quý khách lời cảm ơn chân thành nhất.<br />
    <br />Cửa hàng của chúng tôi cung cấp nhiều loại điện thoại với chất lượng cao, được kiểm tra kỹ càng. Cửa hàng làm việc uy tín, nhân viên vui vẻ, phục vụ nhiệu tình với tiêu chí "Khách hàng là thượng đế".<br />
    Hãy đến với cửa hàng của chúng tôi để được tư vấn về các loại sản phẩm, mua các loại điện thoại chất lượng cao từ nhà sản xuất nổi tiếng. "Niềm vui của các bạn cũng chính là niềm vui ủa chúng tôi."
</div>